*{
        padding:0;
        margin: 0;
        box-sizing: border-box;
        
}
body{
        display:flex;
        justify-content:center;
        align-items: center;
        height: 100vh;
        width: 100%;
}
.container{
        position: relative;
        cursor: pointer;
        width:400px;
        height: 400px;
        transform-style: preserve-3d;
        perspective: 1000px;
}
.container img{
        position:absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit:cover;
        transition:0.5s !important;
        z-index: calc(10 + var(--j));
        opacity: calc(1  - (0.3 * var(--i)));
}
.container:hover img{
        transform: rotate(-45deg) skew(25deg) translateY(calc(35px * var(--i))) translateX(calc(-35px * var(--i)));
        box-shadow:-20px 20px 20px rgba(0, 0, 0, 0.3)
}